@import "tailwindcss";

@layer base {
  html {
    background-color: #000000;
    color: #ffffff;
  }
  
  body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
